{% extends 'base.html.twig' %} {% block title %}Bienvenue chez Blabla Chambé{%
endblock %} {% block body %}
<div class="shiny px-8 pb-20 pt-32 flex flex-row items-center">
  <h1 class="text-5xl text-white font-bold w-1/2 p-8 mx-6">
    Vos déplacements éco avec le covoiturage Blabla Chambé!
  </h1>
  <div
    class="example bg-white w-1/2 p-6 text-2xl flex flex-col gap-8 rounded-lg"
  >
    <div
      class="destination font-bold flex flex-row justify-around border-b-2 pb-2"
    >
      <div class="flex flex-row items-center gap-2">
        {#
        <img
          class="w-10"
          width="64"
          height="64"
          src="https://img.icons8.com/arcade/64/pin.png"
          alt="pin"
        />
        #}
        <p>La Ravoire</p>
      </div>
      <img
        width="30"
        height="30"
        src="https://img.icons8.com/ios/50/long-arrow-right--v1.png"
        alt="long-arrow-right--v1"
      />
      <div class="flex flex-row items-center gap-2">
        {#
        <img
          class="w-10"
          width="48"
          height="48"
          src="https://img.icons8.com/color/48/filled-flag.png"
          alt="filled-flag"
        />
        #}
        <p>Bassens</p>
      </div>
    </div>
    <div
      class="centre flex flex-row justify-around items-center border-b-2 pb-6"
    >
      <div class="infos flex flex-col gap-4">
        <p class="font-medium">Mardi 15 août 2023</p>
        <div class="flex flex-row items-center gap-2">
          <p>10€</p>
          <img
            class="w-10"
            width="48"
            height="48"
            src="https://img.icons8.com/color-glass/48/money.png"
            alt="money"
          />
        </div>
        <p class="font-medium">3 places restantes</p>
      </div>
      <div
        class="conducteur flex flex-col justify-center items-center gap-2 font-normal text-lg"
      >
        <img
          class="rounded-full"
          width="100"
          src="{{ asset('./images/julienfaketete.jpeg') }}"
          alt="ia
        face"
        />
        <div class="flex gap-4 text-xl font-medium items-center">
          <p>Julien</p>
          <div class="flex items-center gap-2">
            <p>4,6</p>
            <img
              class="w-7"
              width="48"
              height="48"
              src="https://img.icons8.com/fluency/48/star.png"
              alt="star"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="flex justify-center regles text-lg font-normal">
      <p>
        <span class="text-xl font-semibold">Règles:</span> Fumeur, pas
        d’animaux, bavard bienvenus...
      </p>
    </div>
  </div>
</div>
<div class="flex justify-center gap-24 my-20 text-xl font-bold">
  <a href={{ path('app_trajets') }} class="px-8 py-4 text-white bg-[#3EADF3] rounded-full">
    Voir les trajets
  </a>
  <a href={{ path('app_register') }} class="px-8 py-4 bg-gray-200 rounded-full">Créer un compte</a>
</div>
{% endblock %}
