@tailwind base;
@tailwind components;
@tailwind utilities;

.shiny {
  background-image: url(../../public/images/shiny.svg);
}

.logo {
  background-image: url(../../public/images/leaf.png);
  background-position: center;
  background-size: contain;
}
