@tailwind base;
@tailwind components;
@tailwind utilities;

.shiny {
  background-image: url(../../public/images/shiny.svg);
  background-attachment: fixed;
}
.logo {
  background-image: url(../../public/images/leaf.png);
  background-position: center;
  background-size: contain;
}

.card {
  backdrop-filter: blur(2px) saturate(156%);
  -webkit-backdrop-filter: blur(2px) saturate(156%);
  background-color: rgba(64, 134, 226, 0.418);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.425);
}
