{% block header %}
<div class="font-bold flex p-6 justify-between items-center">
  <div class="flex items-center gap-2 text-2xl w-1/5">
    <img
      width="48"
      height="48"
      src="https://img.icons8.com/pulsar-color/48/000000/leaf.png"
      alt="leaf"
    />
    <p>Blabla Chambé</p>
  </div>
  <div class="flex w-3/5 justify-evenly text-3xl">
    <p>Trajets</p>
    <p>À propos</p>
  </div>
  <div class="w-1/5 flex justify-end gap-6">
    <button class="text-xl border-2 border-black px-4 rounded-lg">
      Se connecter
    </button>
    <img
      width="50"
      height="50"
      src="https://img.icons8.com/ios-filled/50/gender-neutral-user.png"
      alt="gender-neutral-user"
    />
  </div>
</div>
{% endblock header %}
